ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--widget);
    height: 100%;
    position: fixed;
    overflow: auto;
    box-shadow: 1px 1px 1px 1px var(--widget_shadow);
}

li a {
    display: block;
    padding: 10px;
    background-color: var(--widget);
    text-decoration: none;
    border-radius: 0.4vw;
    font-size: 18px;
    font-family: 'Play', sans-serif;
    transition: all 0.2s ease-out;
    color: var(--text);
}

li a:hover {
    background-color: var(--widget_hover);
}