ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 6vw;
    background-color: var(--widget);
    height: 100%;
    position: fixed;
    overflow: auto;
}

li a {
    display: block;
    padding: 1vw;
    background-color: var(--widget);
    color: black;
    text-decoration: none;
    font-family: 'Play', sans-serif;
}

li a:hover {
    display: block;
    padding: 1vw;
    background-color: var(--widget_hover);
    border-radius: 0.4vw;
    color: black;
    text-decoration: none;
}