.tabpadding {
    padding-left: 0.2vw;
    padding-bottom: 0.2vw;
}

.tabcontent {
    background-color: var(--widget);
    border: 0.1vw solid var(--widget_border);
    width: 41.4vw;
    height: 24.825vw;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

.controls_tab {
    float: left;
    width: 40%;
    text-align: left;
}

.settings_tab {
    float: left;
    width: 40%;
    text-align: left;
}