.tabpadding {
    padding-left: 10px;
    padding-bottom: 10px;
}

.tabcontent {
    background-color: var(--widget);
    box-shadow: 1px 1px 1px 1px var(--widget_shadow);
    width: calc(40vw - 20px);
    height: calc(32vw - 64px);
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

.controls_tab {
    float: left;
    width: 40%;
    text-align: left;
}

.settings_tab {
    float: left;
    width: 40%;
    text-align: left;
}