.option_title {
    text-align: left;
    font-size: max(1.7vw, 15px);
    padding: 0px 0.6vw;
}

.tab_title {
    text-align: center;
    font-size: max(2vw, 18px);
    padding: 0px 5px;
}

.option_text {
    text-align: left;
    font-size: max(1.5vw, 10px);
    padding: 0px 0.6vw;
}

.file_input {
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: max(1.5vw, 10px);

    color: transparent;
    display: inline-block;
    border-radius: 3px;
    padding: 5px 8px;
    width: 22%;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.option_input {
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: max(1.5vw, 10px);
    width: 10vw;
    margin-left: 0.6vw;

    display: inline-block;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.option_input_middle {
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: max(1.5vw, 10px);
    width: 10vw;
}

.option_input_short {
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: max(1.5vw, 10px);
    width: 1.5vw;
}

.option_input_checkbox {
    width: 20px;
    height: 20px;
}

.option_list {
    padding: 2px;
    font-size: max(1.5vw, 10px);
}

.textarea {
    width: 92.5vw;
    border-radius: 4px;
    border: solid transparent;
    background-color: var(--widget);
    font-family: 'Roboto', monospace;
    font-size: max(1vw, 10px);
}

.big {
    text-align: center;
    font-weight: 600;
    font-family: 'Play', sans-serif;
    font-size: max(8.5vw, 45px);
}