body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* texts */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
  font-family: 'Play', sans-serif;
  font-size: max(5vw, 30px);
}

h2 {
  text-align: center;
  font-family: 'Play', sans-serif;
  font-size: max(4vw, 25px);
}

h3 {
  text-align: left;
  font-family: 'Play', sans-serif;
  font-size: max(3vw, 20px);
}

p {
  text-align: left;
  font-family: 'Play', sans-serif;
  font-size: max(1.5vw, 15px);
}

a {
  text-align: center;
  font-family: 'Play', sans-serif;
  font-size: max(1.5vw, 15px);
  text-decoration: none;
  color: #1100AA;
}

label {
  display: inline-block;
  width: 20vw;
  text-align: right;
  font-family: 'Play', sans-serif;
}

i {
  display: inline-block;
  text-align: left;
  font-size: max(1vw, 10px);
}

.option_title {
  text-align: left;
  font-size: max(1.7vw, 15px);
  padding: 0px 5px;
}

.tab_title {
  text-align: center;
  font-size: max(2vw, 18px);
  padding: 0px 5px;
}

.option_text {
  text-align: left;
  font-size: max(1.5vw, 10px);
  padding: 0px 5px;
}

.file_input {
  text-align: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: max(1.5vw, 10px);

  color: transparent;
  display: inline-block;
  border-radius: 3px;
  padding: 5px 8px;
  width: 22%;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.option_input {
  text-align: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: max(1.5vw, 10px);
  width: 10vw;

  display: inline-block;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.option_input_middle {
  text-align: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: max(1.5vw, 10px);
  width: 10vw;
}

.option_input_short {
  text-align: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: max(1.5vw, 10px);
  width: 1.5vw;
}

.option_input_checkbox {
  width: 20px;
  height: 20px;
}

.option_list {
  padding: 2px;
  font-size: max(1.5vw, 10px);
}

.textarea {
  width: 91vw;
  border-radius: 4px;
  border: solid transparent;
  background-color: #e5e5e5;
  font-family: 'Roboto', monospace;
  font-size: max(1vw, 10px);
}

.big {
  text-align: center;
  font-weight: 600;
  font-family: 'Play', sans-serif;
  font-size: max(8.5vw, 45px);
}

.link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #1100AA;
}

.link:hover {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #0008ff;
}

.small {
  text-align: left;
  font-family: 'Roboto', monospace;
  font-size: max(1vw, 10px);
}

.big_profile_picture {
  width: 20vw;
  height: auto;
  border: 1px solid transparent;
  border-radius: 100vw;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 6vw;
  background-color: #e5e5e5;
  height: 100%; 
  position: fixed;
  overflow: auto;
}

li a {
  display: block;
  padding: 1vw;
  background-color: #e5e5e5;
  color: black;
  text-decoration: none;
  font-family: 'Play', sans-serif;
}

li a:hover {
  display: block;
  padding: 1vw;
  background-color: #c2c2c2;
  border-radius: 0.4vw;
  color: black;
  text-decoration: none;
}

/* stage related */
canvas {
  border: 1px solid #a1a1a1;
  border-radius: 5px;
  width: 50vw;
  height: auto;
}

.stageholder {
  float: left;
  padding-left: 5%;
  text-align: center;
}

.tabpadding {
  padding-bottom: 0.2vw;
  padding-left: 0.2vw;
}

/* settings related */
.tabcontent {
  background-color: #e5e5e5;
  margin: 4px, 4px;
  padding: 4px;
  width: 41vw;
  height: 24.15vw;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  border: 0.1vw solid #A1A1A1;
  border-radius: 5px;
}

.controls_tab {
  float: left;
  width: 40%;
  text-align: left;
}

.settings_tab {
  float: left;
  width: 40%;
  text-align: left;
}

.exportmanager {
  padding-left: 5vw;
  text-align: left;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .1s;
  transition: .1s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .1s;
  transition: .1s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}